html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  width: 960px;
  border: 5px solid orange;
}
/* banner container */
.logo_container {
  background-color: black;
  display: flex;
  justify-content: flex-start;
}
.logo_section {
  display: flex;
}
.logo img {
  padding-left: 0.5rem;
  padding-top: 0.66rem;
  padding-right: 1rem;
  padding-bottom: 0.66rem;
  height: 1.5rem;
}
.title {
  color: white;
  padding-left: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* banner container end */


/* new arrival container */
.new_arrival_container {
  background-image: url("../../resources/images/moto.jpeg");
  height: 25rem;
  display: block;
  justify-content: center;
}
.new_arrival_container h3, h1 {
  background-color: black;
  color: white;
  width: 20rem;
  padding-left: 3rem;
  position: relative;
  top: 9rem;
}
.new_arrival_container h3 {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-right: 2rem;
}
.new_arrival_container h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1.25rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}



/* navigation */
.navigation_container {
  display: flex;
  justify-content: space-around;
  background-color: firebrick;
  color: white;
  /*width: 960px;*/
}
.navigation_container p {
  display: inline;
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
/* navigation end */






/* product */
.product_container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.product_box {
  border: 4px solid black;
  width: 30%;
}
.product_box img {
  height: 9rem;
  width: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.product_box h4 {
  background-color: black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}
/* product end */



/* location hours container */
.location_hour {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.location_title, .hours_title {
  background-color: black;
  color: white;
  width: 250px;
  padding: 1rem 2rem;
}






/* footer */
.footer {
  margin-top: 4rem;
  background-color: black;
  color: white;
  display: flex;
}
.footer h4 {
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  justify-content: flex-start;
}
